.jumbotron {
    margin-top: 15px;
    background: url("sinusbot-logo.png");
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: #f3331F;
    background-position: 99% 95%
}
#copyright {
    display: inline;
}
#yt {
    font-family: yt;
    text-align: center;
    margin-top: -10px;
}
.none {
    display: none;
}
#loadmore {
    display: none;
    margin: 0px auto;
    clear: both;
}
#results {
    padding-left: 15px;
    padding-right: 15px;
}
.videos {
    margin: 5px;
    padding: 0 20px;
}
.ytframe {
    margin-top: 15px;
    padding-bottom: 15px;
    height: 360px;
}
@media (max-width: 992px) {
    .videos {
        width: calc(100% - 10px);
        min-height: 650px;
    }
}
@media (min-width: 992px) {
    .videos {
        width: calc(50% - 10px);
        height: 500px;
    }
    .ytframe {
      height: 289px;
    }
}
