.jumbotron {
    margin-top: 15px;
    background: url(../img/sinusbot-logo.png);
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: #f3331F;
    background-position: 99% 95%
}
#copyright {
    display: inline
}
#yt {
    text-align: center;
    margin-top: -10px
}
.none {
    display: none
}
.play {
    margin-left: 15px !important
}
#loadmore {
    display: none;
    margin: 0 auto;
    clear: both
}
#results {
    padding-left: 15px;
    padding-right: 15px
}
.videos {
    margin: 5px;
    padding: 0 20px
}
.ytframe {
    margin: 0;
    height: 360px;
    width: 100%
}
@media (max-width: 992px) {
    .videos {
        width: calc(100% - 10px);
        min-height: 650px
    }
}
@media (min-width: 992px) {
    .videos {
        width: calc(50% - 10px);
        height: 500px
    }
    .ytframe {
        height: 289px
    }
}
.youtube-container {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px
}
.youtube-player {
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block
}
img.youtube-thumb {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    margin-left: 15px
}
div.play-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url(../img/play.png) no-repeat
}
#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px
}
.btnmarginfive {
    margin: 5px
}