.jumbotron {
    margin-top: 15px;
    background: url("sinusbot-logo.png");
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: #f3331F;
    background-position: 99% 95%
}

#copyright {
    display: inline;
}

@font-face {
    font-family: "yt";
    src: url(yt.ttf) format("truetype");
}
#yt {
    font-family: yt;
    margin-top: -10px;
    margin-left: 20px;
}
.none {
    display: none;
}
#loadmore {
    display: none;
    margin: 0px auto;
    clear: both;
}
